<nav class="space-x-4 mb-4 flex justify-center">
    <a class="nav-tab" href="/Ninja/Details/@Model">
        INVETORY 
    </a>
    <a class="nav-tab active" href="/Shop?ninjaId=@Model">
        SHOP
    </a>
</nav>