
<div class="gap-4 grid grid-cols-4">
    <div class="item-card">
        <img alt="Radiant Mantle" height="150" src="https://storage.googleapis.com/a1aa/image/HUEFoqYLJ96fQiHD6CJvYXLcjsm4e5P0ZjeNDMvz3dQehNxOB.jpg" width="150" />
        <div class="item-info">
            <p>
                Radiant Mantle
            </p>
            <p>
                <i class="fas fa-coins">
                </i>
                800
            </p>
        </div>
    </div>
