@model NinjaViewModel

<h2>@Model.Name</h2>

<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Goud:</strong> @Model.Gold</p>
</div>

<a asp-action="Index" class="btn btn-secondary">Terug naar lijst</a>
