@model IEnumerable<NinjaViewModel>

<h2>Ninja List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Naam</th>
            <th>Goud</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ninja in Model)
        {
            <tr>
                <td>@ninja.Id</td>
                <td>@ninja.Name</td>
                <td>@ninja.Gold</td>
                <td>
                    <a asp-action="Details" asp-route-id="@ninja.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
